<div class="row">
    <h1 class="text-center">Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">   
        <ul>
            <li>
                <h2>Programador Full Stack</h2> - <h3>Junio 2021 - Mayo 2023</h3>
            </li>
            <p>
                Emitido por: INTI CESSI-UTN.
            </p>
            <li>
                <h2>Desarrollador FrontEnd</h2> - <h3>Enero 2021 - Mayo 2023</h3>
            </li>
            <p>
                Emitido por: Alura - Oracle.
            </p>
            <li>
                <h2>Tester QA - Manual & Automation</h2> - <h3>Noviembre 2022 - Abril 2023</h3>
            </li>
            <p>
                Emitido por:  MindHub - Learning by doing.
            </p>
        </ul>
    </div>
</div>
