<div class="row">
    <h1 class="text-center">Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">   
        <ul>
            <li>
                <h2>Seleme Soluciones Informáticas</h2> - <h3>Feb 2021 - HOY</h3>
            </li>
            <p>
                Relevamiento, creación de páginas webs, corrección de errores del código, servidor, la red y el entorno de alojamiento. Desarrollo con                frameworks.
            </p>
            <li>
                <h2>Multipago</h2> - <h3>Abr 2016 - Oct 2020 (4 años y 6 meses)</h3>
            </li>
            <p>
                Mantenimiento y reparación de equipos informáticos. Puestos de cobro, instalación de sistemas operativos, bases de datos, servidores, instalación de softwares de gestión y configuración de los mismos (de manera presencial y remota).
            </p>
            <li>
                <h2>Referente Técnico Institucional</h2> - <h3>Abr 2016 - oct 2020 (4 años y 6 meses)</h3>
            </li>
            <p>
                Técnico IT. En institución educativa. Instalación de sistemas operativos. Codificar y asignar equipos a alumnos. Armado de redes TCP/IP y nodos de conexión inalámbricos. Mantenimiento del Server Linux. Gestión para la conexión de laptops al servidor principal.
            </p>
        </ul>
    </div>
</div>