<div class="row">
    <h1 class="text-center">Proyectos Realizados</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2>Argentina Programa tercera edición Maqueta con Bootstrap
            </h2>
            <p>"Modulo 2 aplicación de conocimientos de Bootstrap en maqueta html"

            </p>
        </div>
        <div>
            <a href="https://maqueta-bootstrap-proyecto-argentina-programa.on.drv.tw/ProyectoMaquetaBootstrap/#"> <img
                    src="../../../assets/Bootstrap-Model.png" width="250" height="150" class="img-fluid"
                    id="proyecto"></a>

            <a title="Maqueta Bootstrap" id="proyecto 1"
                href="https://maqueta-bootstrap-proyecto-argentina-programa.on.drv.tw/ProyectoMaquetaBootstrap/#"></a>
        </div>
    </div>