<div class="row">
    <h1 class="text-center">Hard & Soft Skills</h1>
    <div class="text-center col-s-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="80"
        [imageSrc]="'../assets/HTML.png'"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#F5B041'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
        [subtitle]="'HTML'"
        [subtitleColor]="'aliceblue'"
        [titleColor]="'aliceblue'"
        [unitsColor]="'aliceblue'"
        [lazy]="true"
        ></circle-progress>
    </div>
    <div class="text-center col-s-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="82"
        [radius]="80"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#F5B041'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
        [subtitle]="'CSS'"
        [subtitleColor]="'aliceblue'"
        [titleColor]="'aliceblue'"
        [unitsColor]="'aliceblue'"
        [lazy]="true"
        ></circle-progress>
    </div>
    <div class="text-center col-s-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="70"
        [radius]="80"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#F5B041'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
        [subtitle]="'JS'"
        [subtitleColor]="'aliceblue'"
        [titleColor]="'aliceblue'"
        [unitsColor]="'aliceblue'"
        [lazy]="true"
        ></circle-progress>
    </div>
    <div class="text-center col-s-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="68"
        [radius]="80"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#F5B041'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
        [subtitle]="'GitHub'"
        [subtitleColor]="'aliceblue'"
        [titleColor]="'aliceblue'"
        [unitsColor]="'aliceblue'"
        [lazy]="true"
        ></circle-progress>
    </div>
    <div class="text-center col-s-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="65"
        [radius]="80"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#F5B041'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
        [subtitle]="'Inglés'"
        [subtitleColor]="'aliceblue'"
        [titleColor]="'aliceblue'"
        [unitsColor]="'aliceblue'"
        [lazy]="true"
        ></circle-progress>
    </div>
    <div class="text-center col-s-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="90"
        [radius]="80"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#F5B041'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
        [subtitle]="'Trabajo En Equipo'"
        [subtitleColor]="'aliceblue'"
        [titleColor]="'aliceblue'"
        [unitsColor]="'aliceblue'"
        [lazy]="true"
        ></circle-progress>
    </div>
</div>
