<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/Perfil photo-PhotoRoom.png" class="img-fluid" id="fotoPerfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"  id="nombre">

        <p><i>Leonardo Fabio Rojas</i></p>
        <p><i>Full Stack Jr.</i></p> 
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>
                Llevo varios años dedicados al mantenimiento de equipos informáticos en empresas
                enfocadas en la innovación, desarrollo y servicios. Con lo aprendido durante mis anteriores
                etapas profesionales puedo contribuir a este equipo para llevarlo al siguiente nivel. En el
                aspecto más personal, me apasiona el mundo de la programación. Estoy en permanente
                seguimiento de los lenguajes de programación, nuevos programas y herramientas para
                mejorar el desarrollo interno de la empresa. Soy desarrollador “Full Stack” y me especializo
                en FRONTEND. Cuando deseen pueden contactarme y les explico
                más detalladamente que puedo aportar desde mi puesto, a su vez interiorizarme los
                objetivos de la empresa.
            </p>
        </span>
    </div>
</div>
